<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Ferdinand Tugano" />
    <link rel="icon" href="favicon.ico" />

    <title>1. Choose plan</title>

    <!-- Icons for this template -->
    <link
      href="/assets/fonts/font_awesome_all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Stylesheet -->
    <!-- build:css -->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <!-- endbuild -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/assets/css/main_page/sppagebuilder.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/main_page/sppagecontainer.css" rel="stylesheet" type="text/css" />
  <link href="/assets/fonts/main_page/montserrat_regular.css" rel="stylesheet" type="text/css" />
  <link href="/assets/fonts/main_page/crimson_text.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/main_page/default.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/main_page/template.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/main_page/pagebuilder.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/main_page/main_page.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4"> -->
    <nav class="navbar navbar-expand-md mb-4">
      <a href="/"><img src="/assets/img/logo.png"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="form-inline mt-2 mt-md-0">
          <a class="btn btn-outline-primary my-2 my-sm-0" href="/login">
            <i class="fas fa-search" aria-hidden="true"></i> Login
          </a>
        </div>
      </div>
    </nav>

    <main role="main" class="jumbotron container">
      <div class="row  text-center">
        <h1 class="col-md-12">1/4 Choose your plan</h1>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="sppb-row">
              <div class="sppb-col-sm-2"></div>
              <div class="sppb-col-sm-4">
                <div id="column-id-1480644523" class="sppb-column  sppb-wow fadeInUp" data-sppb-wow-duration="300ms" data-sppb-wow-delay="300ms">
                  <div class="sppb-column-addons">
                    <div id="sppb-addon-1480644524" class="clearfix">
                      <div class="sppb-addon sppb-addon-text-block 0 sppb-text-center at-pricing-item">
                        <div class="sppb-addon-content">
                          <div class="at-pricing-title">
                            <h4>Small business</h4>
                            <h5>19.5 $ / month</h5>
                          </div>
                          <ul>
                            <li>2 vCPU (1.8 Ghz x2)</li>
                            <li>40Gb Space <em class="fa fa-check"><span style="text-decoration: underline;">icon</span></em></li>
                            <li>2Gb RAM</li>
                            <li>2000 Gb Bandwidth <em class="fa fa-check"><span style="text-decoration: underline;">icon</span></em></li>
                          </ul>
                          <div class="">
                            <button class="btn btn-outline-dark btn-lg btn-block">
                              Choose
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sppb-col-sm-4">
                <div id="column-id-1480644525" class="sppb-column  sppb-wow fadeInUp" data-sppb-wow-duration="400ms" data-sppb-wow-delay="400ms">
                  <div class="sppb-column-addons">
                    <div id="sppb-addon-1480644526" class="clearfix">
                      <div class="sppb-addon sppb-addon-text-block 0 sppb-text-center at-pricing-item">
                        <div class="sppb-addon-content">
                          <div class="at-pricing-title">
                            <h4>Medium Business</h4>
                            <h5>39.5 $ / month</h5>
                          </div>
                          <ul>
                            <li>3 vCPU (1.8 Ghz x3)</li>
                            <li>60GB Space <em class="fa fa-check"><span style="text-decoration: underline;">icon</span></em></li>
                            <li>3GB RAM</li>
                            <li>3000Gb Bandwidth <em class="fa fa-check"><span style="text-decoration: underline;">icon</span></em></li>
                          </ul>
                          <div class="">
                            <button class="btn btn-outline-dark btn-lg btn-block">
                              Choose
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row  text-center">
        <div class="col-md-5 col-sm-3"></div>
        <div class="col-sm-6 col-md-2"><a href="/2-select-server" class="btn btn-primary btn-next btn-lg btn-block">Next</a></div>
        <div class="col-md-5   col-sm-3"></div>
      </div>
    </main>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="/" class="btn btn-link">Back</a>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <!-- build:js -->
    <script src="/assets/js/app.js"></script>
    <!-- endbuild -->

  </body>
</html>
