<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Ferdinand Tugano" />
    <link rel="icon" href="favicon.ico" />

    <title>Choose algorithm</title>

    <!-- Icons for this template -->
    <link
      href="/assets/fonts/font_awesome_all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Stylesheet -->
    <!-- build:css -->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <!-- endbuild -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link href="assets/css/main_page/sppagebuilder.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/main_page/sppagecontainer.css" rel="stylesheet" type="text/css" />
  <link href="assets/fonts/main_page/montserrat_regular.css" rel="stylesheet" type="text/css" />
  <link href="assets/fonts/main_page/crimson_text.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/main_page/default.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/main_page/template.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/main_page/pagebuilder.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/main_page/main_page.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md mb-4">
      <a href="/"><img src="assets/img/logo.png"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="form-inline mt-2 mt-md-0">
          <a class="btn btn-outline-primary my-2 my-sm-0" href="/login">
            <i class="fas fa-search" aria-hidden="true"></i> Login
          </a>
        </div>
      </div>
    </nav>

    <main role="main" class="jumbotron container">
      <div class="row text-center">
        <h1 class="col-md-12">3/4 Choose algorithm</h1>
      </div>
      <div class="row algorithm-hint">
        <div class="col-md-12">
          Selected algorithm: <i class="selected-algorithm"><strong>none</strong></i>
        </div>
      </div>
      <div class="row algorithm-container">
        <div class="col-md-9 ">
          <div class="card algorithm-card">
            <img src="assets/img/a.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Default Algorithm
              <input type="checkbox" class="float-right form-check checkbox" name="">
              </p>

            </div>
          </div>
        </div>
        <div class="col-md-3 algorithm-description">
          <h3 class="description-title">What is algorithm?</h3>
          <p>
            Algorithm is responsible on how your data is being layed on Devoir cloud.<br>Algorithm is answerable to such parts of cloud hosting as:<br>
          </p>
          <ul>
            <li>&ndash; How often servers should cache</li>
            <li>&ndash; Which server will process the user request</li>
            <li>&ndash; What should be done if server is not responsible</li>
            <li>e.g.</li>
          </ul>
          <p>
            Algorithms by using Machine Learning, are able to automatically reduce the cost of hosting,
            or make the hosting even more faster and fast changing.
          </p>
        </div>
      </div>
      <div class="row  text-center">
        <div class="col-md-5 col-sm-3"></div>
        <div class="col-sm-6 col-md-2"><a href="/4-payment" class="btn btn-primary btn-next btn-lg btn-block">Next</a></div>
        <div class="col-md-5   col-sm-3"></div>
      </div>
    </main>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="/2-select-server" class="btn btn-link">Back</a>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/vendor/jquery.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- build:js -->
    <script src="assets/js/app.js"></script>
    <!-- endbuild -->

  </body>
</html>
