<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Ferdinand Tugano" />
    <link rel="icon" href="favicon.ico" />

    <title>Payment</title>


    <!-- Icons for this template -->
    <link
      href="/assets/fonts/font_awesome_all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Stylesheet -->
    <!-- build:css -->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <!-- endbuild -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="assets/css/main_page/sppagecontainer.css" rel="stylesheet" type="text/css" />
  <link href="assets/fonts/main_page/montserrat_regular.css" rel="stylesheet" type="text/css" />
  <link href="assets/fonts/main_page/crimson_text.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/main_page/default.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/main_page/template.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/main_page/pagebuilder.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/main_page/main_page.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md mb-4">
      <a href="/"><img src="assets/img/logo.png"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="form-inline mt-2 mt-md-0">
          <a class="btn btn-outline-primary my-2 my-sm-0" href="/login">
            <i class="fas fa-search" aria-hidden="true"></i> Login
          </a>
        </div>
      </div>
    </nav>

    <main role="main" class="jumbotron container">
      <div class="text-center">
        <h1>4/4 Payment</h1>
      </div>
      <div class="row payment-info-container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <hr>  
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-5 tex-left">
          <p class="info-label">Hosting plan</p>
          <p class="info-label">Algorithm</p>
          <p class="info-label">DNS</p>
          <p class="info-label">Period</p>
        </div>
        <div class="col-md-5 text-right">
          <p class="info-value"><strong>Small business ( 35$ )</strong></p>
          <p class="info-value"><strong>Default Algorithm ( 3$ )</strong></p>
          <p class="info-value"><strong>Algorithm hostinger ( 10$ )</strong></p>
          <p class="info-value"><strong>30 days</strong></p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <hr>  
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <p>Total</p>
        </div>
        <div class="col-md-5 text-right">
          <p><b>48$</b></p>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right btn-container">
          <a
          class="btn btn-lg btn-primary"
          href="/5-after-payment"
          role="button"
          >Pay with Credit Card or Paypal</a
        >
        <span class="payment-button-delimeter">or</span>
        </div>
        <div class="col-md-6 btn-container">
         <a
          class="btn btn-lg btn-secondary"
          href="/5-after-payment"
          role="button"
          >Pay with Klaytn</a
        > 
        </div>
      </div>
    </main>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="/3-select-algorithm" class="btn btn-link">Back</a>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/vendor/jquery.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- build:js -->
    <script src="assets/js/app.js"></script>
    <!-- endbuild -->

  </body>
</html>
